@page "/about"

<div class="card">
    <div class="card-body">
        <h1>Welcome to Quicksack <strong>.NET</strong></h1>
        <p>This app was built to make finding episodes of the <a href="http://filmsack.com" target="_blank">Film Sack Podcast</a> quick and easy.</p>
        <p>
            This particular app was built as part of a coding challenge among friends and fans of the show. The original
            <a href="https://quicksack.li/" target="_blank">Quicksack</a> site was created by <i>baumbaTz</i>.
        </p>

        <h5>Technical Details</h5>
        <p>
            Quicksack <strong>.NET</strong> was built using .Net 5, Blazor, and C#. A Blazor app is a WebAssembly that runs in the client's
            web browser and so, after the initial download, should be fast. The app now has PWA abilty which allows users
            to access the application when not connected to the internet. Your browser should offer to let you install the app.
        </p>
        <p>This app was built on an M1 MacBook Air, using a tool chain from Microsoft, and hosted on a linux server. Pretty cool.</p>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/img/Rev.png" class="img-thumbnail" alt="RevFry">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">RevFry</h5>
                        <a href="https://revfry.com" target="_blank">RevFry.com</a>
                        <p class="card-text"><small class="text-muted"><a href="mailto:code.weller@gmail.com?subject=Quicksack">Contact</a></small></p>
                    </div>
                </div>
            </div>
        </div>

        <h5>The Challengers</h5>
        <ul class="list-unstyled">
            <li><a href="https://quicksack.li/" target="_blank">Quicksack <i>The original</i></a> - baumbaTz</li>
            <li><a href="http://quicksack.thedreadzone.com/#/" target="_blank">DreadSack</a> - DaDreadLord</li>
            <li><a href="https://quicksack.derbycitydesignlab.com/" target="_blank">FilmSack/QuickSack</a> - Dicetomato</li>
        </ul>

        <h5>The Show</h5>
        <ul class="list-unstyled">
            <li><a href="http://filmsack.com" target="_blank">http://filmsack.com</a></li>
        </ul>

        <h5>Dunaway's Film Sack Show Notes</h5>
        <ul class="list-unstyled">
            <li><a href="https://briandunaway.com/category/filmsack-notes/" target="_blank">https://briandunaway.com/category/filmsack-notes/</a></li>
        </ul>

        <h5>The Feeds</h5>
        <ul class="list-unstyled">
            <li>Latest: <a href="http://feeds.frogpants.com/filmsack_feed.xml" target="_blank">http://feeds.frogpants.com/filmsack_feed.xml</a></li>
            <li>Archive: <a href="http://feeds.frogpants.com/filmsack_feed_old.xml" target="_blank">http://feeds.frogpants.com/filmsack_feed_old.xml</a></li>
        </ul>

        <h6>FilmSack Stats</h6>
        <a href="https://www.filmsackstats.com/" target="_blank">https://www.filmsackstats.com/</a>
    </div>
</div>
@code {

}
