@inherits LayoutComponentBase

<div class="page bg-dark">
    <main class="main">
        <NavMenu></NavMenu>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
