@inject HttpClient client
@inject HttpClient client
@inject FeedRepository feedRepostiory

<div class="alert alert-dark" role="alert">
    <strong>Up Next!</strong> @NextShow
</div>

@code {
    private string NextShow { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string nextShow = await feedRepostiory.GetNextEpisode();

        NextShow = string.IsNullOrEmpty(nextShow) ? "Can't grab next show at this time." : nextShow;
    }
}
